# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3



# Env file
.env

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
